@tailwind base;

@tailwind components;

@tailwind utilities;

/* Your custom CSS here */
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://pagecdn.io/lib/font-awesome/5.10.0-11/css/all.min.css");

body {
  font-family: "Lato";
}

#nprogress .bar {
  background: #e77470;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #e77470, 0 0 5px #e77470;
}

#nprogress .spinner-icon {
  border-top-color: #e77470;
  border-left-color: #e77470;
}
